@page "/loty"
@using BlazedWebScrapper.Data
@using BlazedWebScrapper.Entities
@inject FlightService FlightService

<PageTitle>Loty</PageTitle>


<p>This component demonstrates fetching data from a service.</p>

@if (flights == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>StartDestination</th>
                <th>EndDestination</th>
                <th>StartTripDeparture</th>
                <th>StartTripArrival</th>
                <th>EndTripDeparture</th>
                <th>EndTripArrival</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var flight in flights)
            {
                <tr>
                    <td>@flight.StartDestination</td>
                    <td>@flight.EndDestination</td>
                    <td>@flight.StartTripDeparture</td>
                    <td>@flight.StartTripArrival</td>
                    <td>@flight.EndTripDeparture</td>
                    <td>@flight.EndTripArrival</td>
                    <td>@flight.Price</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<FlightModel> flights;

    protected override void OnInitialized()
    {
        flights = FlightService.GetFlights();
    }
}
